@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.section {
  padding: 80px 0;
}

.section-title {
  max-width: 500px;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.input.error {
  border: 1px solid #f00;
}

.input.valid {
  border: 1px solid #0f0;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/*Импорт стилей шапки*/
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-size: 20px;
  margin-top: 10px;
}

/*Стили для главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  display: inline-block;
  margin-bottom: 70px;
  font-size: 20px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

.hero-list__image {
  margin-right: 15px;
}

/*Стили для блока offer*/
.offer {
  background: url("../img/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  max-width: 360px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
  margin-top: 30px;
}

.offer .offer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.offer .offer-text__element {
  font-size: 15px;
  line-height: 24px;
}

.offer .offer-text__element:first-child {
  margin-right: 69px;
}

/*Стили для блока портфолио*/
.portfolio {
  background: #f5f5f5 url("../img/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 90px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .slider__image {
  max-width: 380px;
  margin: auto;
}

.portfolio .slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.portfolio .slick-list {
  overflow: hidden;
}

.portfolio .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Стили для блока с ценами*/
.price {
  background-color: #ffffff;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 60px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card__image img {
  display: block;
}

.card__link {
  position: relative;
  font-size: 16px;
  z-index: 1;
}

.card__link:hover::after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  z-index: -1;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Стили для блока steps*/
.steps {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 50px;
}

.steps__title {
  margin: auto;
  margin-bottom: 58px;
}

.steps__subtitle {
  margin-bottom: 60px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  max-width: 172px;
  margin-bottom: 30px;
}

.step__image {
  margin: auto;
  max-width: 100px;
  height: 100px;
  padding: 30px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.step__text {
  line-height: 1.4;
}

/*Стили для блока бриф*/
.brif {
  background-image: url("../img/brif/brif-color_bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, right center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.3;
}

.interview-list__text {
  max-width: 400px;
  font-size: 16px;
}

.interview-list__counter {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.form__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.form__description {
  display: block;
}

/*Стили для блока support*/
.support-text {
  background-color: #ffd200;
}

.support-text__title {
  display: inline-block;
  padding: 60px 0px 70px 0px;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
}

.support-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support-block__text {
  font-size: 16px;
  line-height: 1.4;
  padding: 25px 80px 0px 25px;
}

.support-block__text_bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.support-block__item {
  max-width: 370px;
  height: 410px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.support-block__item-1 {
  background-image: url(../img/support/support-1.jpg);
}

.support-block__item-2 {
  background-image: url(../img/support/support-2.jpg);
}

.support-block__item-3 {
  background-image: url(../img/support/support-3.jpg);
}

/*Стили для подвала*/
.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  margin-bottom: 100px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
  line-height: 1.5;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__text_bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  color: #000000;
}

/*Стили модального окна*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  /*Стили для главного экрана*/
  .hero-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 35px;
  }
  .hero-text__title {
    font-size: 30px;
  }
  /*Стили для блока offer*/
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer .offer-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer .offer-text__element:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }
  /*Стили для блока с ценами*/
  .cards {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    max-width: 300px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
  /*Стили для блока steps*/
  .steps-block__arrow {
    display: none;
  }
  .step {
    margin-right: 15px;
  }
  /*Стили для блока support*/
  .support-text__title {
    font-size: 26px;
    line-height: 34px;
    padding: 30px 0px 40px 0px;
  }
  .support-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .support-block__text {
    padding: 25px 40px 0px 25px;
  }
  .support-block__item {
    width: 320px;
    height: 355px;
    margin-left: 5px;
    margin-right: 5px;
  }
  /*Стили для подвала*/
  .contacts {
    padding-left: 130px;
  }
}

@media (max-width: 992px) {
  /*Стили для главного экрана*/
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*Стили для блока портфолио*/
  .slider__image {
    width: 95%;
  }
  /*Стили для блока с ценами*/
  .price__card {
    max-width: 326px;
  }
  /*Стили для блока бриф*/
  .brif {
    background-size: 50%, cover;
  }
  .interview-list__text {
    max-width: 250px;
  }
  /*Стили для подвала*/
  .contacts {
    padding-top: 70px;
    padding-left: 70px;
  }
  .contacts__title {
    margin-bottom: 60px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 22px;
    line-height: 1.4;
  }
  /*Стили для шапки */
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 14px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
  /*Стили для главного экрана*/
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 14px;
  }
  /*Стили для блока offer*/
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  /*Стили для блока с ценами*/
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Стили для блока бриф*/
  .brif {
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 100px;
  }
  .interview-list__text {
    font-size: 14px;
  }
  /*Стили для блока support*/
  .support-text__title {
    font-size: 22px;
    line-height: 28px;
    padding: 20px 5px 25px 5px;
  }
  .support-block__text {
    font-size: 14px;
  }
  .support-block__item {
    max-width: 272px;
    height: 300px;
  }
  /*Стили для подвала*/
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
    width: 100%;
    max-height: 550px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 20px;
  }
  /*Стили для шапки */
  .navbar__button {
    font-size: 13px;
  }
  /*Стили для главного экрана*/
  .hero-text {
    padding: 10px 5px 10px 10px;
  }
  .hero-list__text {
    max-width: 220px;
  }
  .hero-list__image {
    margin-right: 12px;
  }
  /*Стили для портфолио*/
  .portfolio__title {
    margin-bottom: 60px;
  }
  /*Стили для блока steps*/
  .step__text {
    line-height: 1.2;
  }
  /*Стили для блока support*/
  .support-text__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .support-block__text {
    line-height: 1.1;
  }
  /*Стили для блока бриф*/
  .brif__form {
    padding-left: 10px;
  }
  .interview {
    padding: 0px 10px 0px 20px;
  }
  .interview__title {
    font-size: 19px;
    line-height: 1.4;
  }
  .interview-list__item {
    margin-bottom: 20px;
  }
  .interview-list__text {
    max-width: 216px;
  }
  .interview-list__counter {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    line-height: 30px;
  }
  /*Стили для подвала*/
  .contacts {
    padding-top: 60px;
    padding-left: 30px;
  }
}
/*# sourceMappingURL=style.css.map */