@media (max-width: 1200px)
    .container
        width: 90%
        // padding: 0 20px
    .hero
        &-block
            flex-direction: column
        &-list
            margin-bottom: 44px
        &-text
            padding-right: 10px
    .offer
        background-size: cover
        &__input
            width: 100%
            margin-bottom: 10px
        &__button
            font-size: 13px
        .offer-text
            flex-wrap: wrap
            &__element:first-child
                margin-right: 0
                margin-bottom: 16px
    .cards
        justify-content: space-evenly
    .brif
        &__form
            padding-left: 30px
    .interview
        padding-right: 30px
        &__title
            font-size: 20px
            margin-bottom: 15px
        &__subtitle
            margin-bottom: 30px
        &-list
            &__text
                font-size: 14px
                max-width: 300px
    .form
        &__title
            font-size: 20px
            margin-bottom: 18px
        &__subtitle
            margin-bottom: 30px

@media (max-width: 992px)
    .slider
        &__image
            width: 95%
    .price__card
        max-width: 326px
    .interview-list
            &__text
                max-width: 250px

@media (max-width: 768px)
    .container
        max-width: 580px
        width: 90%
    .section
        padding: 60px 0
    .navbar
        &__contacts
            display: none
        &__button
            font-size: 12px
            padding: 15px 26px
        &__logo
            width: 90px
    .hero
        &-text
            &__title
                font-size: 24px
                line-height: 1.4
                margin-bottom: 15px
            &__subtitle
                font-size: 16px
                margin-bottom: 28px
        &-list
            &__item
                margin-bottom: 20px
            &__text
                font-size: 14px
    .offer
        background: #ffffff
        &-block
            width: 100%
            padding-right: 0
    .cards
        justify-content: center
    .brif
        background-position: top center, center bottom
        background-size: 100% 50%, cover
        background-repeat: repeat-x, no-repeat
        &-block
            flex-direction: column
        &__form
            margin-top: 100px
@media (max-width: 480px)
    .hero
        &-list
            &__text
                max-width: 220px